*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #43459C;
}

.galaxy{
   display: flex;
   justify-content: center;
   margin-top: 150px;
   position: relative;
}
.pluto_orbit{
width: 1000px;
height: 1000px;
border: 2px solid #74A9F9;
border-radius: 50%;
animation: orbit 250s infinite;
position: absolute;
animation-timing-function: linear;
}
.pluto{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #74A9F9;
    float: right;
    margin-top: 177px;
    margin-right: 97px;
}
@keyframes orbit {
    from{transform: rotate(0deg);}
    to{transform: rotate(10000deg);}
}
.neptune_orbit{
    width: 900px;
    height: 900px;
    border: 2px solid #9C6BAD;
    border-radius: 50%;
    animation: orbit 220s infinite;
    position: absolute;
    animation-timing-function: linear;
    top: 50px;
}
.neptune{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9C6BAD;
    float: right;
    margin-top: 552px;
    margin-right: 865px;
}
.uranus_orbit{
    width: 800px;
    height: 800px;
    border: 2px solid #B7C23C;
    border-radius: 50%;
    animation: orbit 180s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 100px;
}
.uranus{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #B7C23C;
    float: right;    
    margin-top: 641px;
    margin-right: 683px; 
}
.saturn_orbit{
    width: 700px;
    height: 700px;
    border: 2px solid #10AACC;
    border-radius: 50%;
    animation: orbit 150s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 150px;
} 
.saturn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #10AACC;
    float: right;    
    margin-right: 450px
}
.jupiter_orbit{
    width: 600px;
    height: 600px;
    border: 2px solid #E49108;
    border-radius: 50%;
    animation: orbit 120s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 200px;
}
.jupiter{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #E49108;
    float: right;    
    margin-top: 556px;
    margin-right: 371px;
}
.mars_orbit{
    width: 500px;
    height: 500px;
    border: 2px solid #E04236;
    border-radius: 50%;
    animation: orbit 100s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 250px;
}
.mars{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E04236;
    float: right;    
    margin-top: 162px;
}
.earth_orbit{
    width: 400px;
    height: 400px;
    border: 2px solid #15925E;
    border-radius: 50%;
    animation: orbit 80s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 300px;
}
.earth{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #15925E;
    float: right; 
   margin-top: 100px;  
}
.venus_orbit{
    width: 300px;
    height: 300px;
    border: 2px solid #EECB3C;
    border-radius: 50%;
    animation-timing-function: linear;
    animation: orbit 60s infinite;
    position: absolute;
    top: 350px;
}
.venus{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #EECB3C;
    float: right; 
    margin-right: 190px;
}
.mercury_orbit{
    width: 200px;
    height: 200px;
    border: 2px solid #318BC1;
    border-radius: 50%;
    animation: orbit 40s infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 400px;
}
.mercury{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #318BC1;
    float: right; 
    margin-right: 50px;
    margin-top: 181px;
}
.sun_layer{
    width: 50px;
    height: 50px;
    background-color: #F5B500;
    border-radius: 50%;
    position: absolute;
    top: 470px;
    z-index: 2;
}
.sun_layer1{
    width: 70px;
    height: 70px;
    background-color:#EFC840;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 460px;
}
.sun_layer2{
    width: 90px;
    height: 90px;
    background-color:#E9E766;
    border-radius: 50%; 
    position: absolute;
    z-index: 0;
    top: 450px;
}